/*
Estructura del CSS
    Elemento que se va a estilar
        Propiedad: valor; Declaración de estilos */

    h1{
        color: rgb(10, 10, 143);
        outline: 03px solid oklch(58.482% 0.23669 25.841); /* Forma corta de declarar el borde */

    }

    nav a{
        outline: 3px solid red;
        color: orange;
    }
    link:active{
        color: orange;
    } 
    body{
        font-family: Arial;
        color: #000000; /* Los ultimos dos digitos es la transparencia del color. */
        /* color: rgba(Canal rojo 0, Canal verde 0, Canal azul 0, Opacidad 0.5); */
        /* color: rgb (0 0 0 / 50 %); Versión moderna del rgba */
        /* color: hsl(0, 0%, 0% / 50%); Versión moderna del rgba */
        /* color: oklch(348 80% 40% / 50%); Versión moderna del rgba, tiene mas colores, se pueden generar más*/

    }
    a{
        color: blue;
        text-decoration: none; /* Quita el subrayado del link */
    }
    
    .link{
        color: green;
    }


    button{ 
        background-color: yellow;
    }